{% extends 'managerhome.html' %}

{% block content %}

<div class="container">
    {% for message in messages %}
    <h4 style="color:red;text-align:center">{{message}}</h4>
    {% endfor %}
    <table class="table table-bordered">
        <tr>
            <th>Car Name</th>
            <th>Brand</th>
            <th>Plate Number</th>
            <th>Model</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
        {% for car in cars  %}
          
        <tr>
            <td>{{car.Car_Name}}</td>
            <td>{{car.Car_Brand}}</td>
            <td>{{car.Plate_Number}}</td>
            <td>{{car.Model_Year}}</td>
            <td>{{car.Car_Status}}</td>
            <td><a href="{%url 'CarSingleView' car.id %}" class="btn btn-warning">View</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}